meta(charset='UTF-8')
meta(http-equiv='content-type', content='text/html; charset=utf-8')

title= title

meta(name='description', content='A little app to help navigate the rules, regulations, and comments for the US Government.')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='stylesheet', href='/uswds/css/uswds.min.css')
link(rel='stylesheet', href='/main.css')

script(src='/uswds/js/uswds-init.min.js')
