doctype html
html
    head
        include head.pug
    
    body
        header.usa-header.usa-header--basic
            div.usa-logo
                em.usa-logo__text
                    a(href='/' title='Home' aria-label='Home') GovRegs Explorer

        main.usa-layout-docs__main#main-content
            p
                | A little app to help navigate the rules, regulations, and comments for the US Government.
            
            block content

        include footer.pug