doctype html
html(lang='en-US')
    head
        include head.pug
    
    body
        header.usa-header.usa-header--extended
            section.usa-navbar
                aside.usa-logo
                    h1.usa-logo__text GovRegs Explorer
            nav.usa-nav(aria-label='Primary navigation')
                section.usa-nav__inner
                    ul.usa-nav__primary.usa-accordion
                        li.usa-nav__primary-item
                            - var current = (page === 'home') ? 'usa-current' : ''
                            a(class=`usa-nav__link ${current}` href='/')
                                span Home
                        li.usa-nav__primary-item
                            - var current = (page === 'about') ? 'usa-current' : ''
                            a(class=`usa-nav__link ${current}` href='/about')
                                span What is this?
    
                div.usa-nav__secondary
                    if user
                        ul.usa-nav__secondary-links
                            li.usa-nav__secondary-item.rate-limit-display
                                span.rate-limit-count
                                    = user.rateLimitRemaining || 'Unknown'
                                |  API calls remaining
                            li.usa-nav__secondary-item
                                a(href='/logout') Logout
                        form.usa-search.usa-search--small(role='search' action='/docket' method='get')
                            label.usa-sr-only(for='top_search_docket-id') Docket ID
                            input.usa-input(id='top_search_docket-id' type='search' name='docket' placeholder='Docket ID')
                            button.usa-button(type='submit')
                                span.usa-sr-only Find Docket
                    else
                        form.usa-form.header-form(role='login' action='/login' method='post')
                            section
                                input.usa-input(id='email_header' name='email' type='email' required='required' placeholder='Email')
                                input.usa-input(id='password_header' name='password' type='password' required='required' placeholder='Password')
                                input.usa-button.usa-button--outline(type='submit' value='Login')
                            aside.reset-password
                                <a href='/reset-password'>Forgot your password?</a>

        main#main-content
            block content

        include footer.pug