extends partials/layout.pug


block content
    
    article.usa-hero(aria-label='Introduction')
        section.grid-container
            aside.usa-hero__callout
                h2.usa-hero__heading Regulation Explorer
                p
                    | Use this site to more easily explore the open data on regulations.gov!
                form.usa-form(action='/docket' method='get')
                    label.usa-label(for='docket') Docket Number:
                    input.usa-input(id='docket_hero' name='docket' type='text' required='required')
                    input.usa-button(type='submit' value='Find Docket')
    
    article.grid-container.usa-section
        section.grid-row.grid-gap
            aside(class='tablet:grid-col-4')
                h2(class='font-heading-xl margin-top-0 tablet:margin-bottom-0')
                    | Making it easier to explore US Government Regulations
            
            aside(class='tablet:grid-col-8 usa-prose')
                p
                    | The General Services Administration (GSA) has revamped the old and unfit website used 
                    | by many people to find and comment on regulations proposed or implemented by nearly 
                    | every executive branch agency in the United States federal government.
                p
                    | The new 
                    a(href='https://regulations.gov') regulations.gov 
                    | looks nice, and is certainly for user friendly on the surface. However, many of the 
                    | changes make it extremely difficult for professionals exploring those regulations 
                    | (and specifically their comments) to do their job.
                p
                    | This small website attempts to make that exploration easier, catering specifically 
                    | to the legal professional community.
