extends partials/layout.pug


block content
    if errorMsg
        aside.usa-aler.usa-alert--error
            div.usa-alert__body
                p.usa-alert__text= errorMsg

    article.usa-section.grid-container
        h2.font-heading-l.margin-y-0 Reset Your Password

        p
            | We're glad you received the password reset email! Hopefully we can get you 
            | back into the system shortly. Please enter 
            strong your email address 
            |  and 
            strong your new password.
        

        form.usa-form(action='/new-password' method='post')
            input.usa-input(id='token' name='token' type='hidden' required='required' value=resetToken)
            label.usa-label(for='email') Email address:
            input.usa-input(id='email' name='email' type='email' required='required' placeholder='Email')
            label.usa-label(for='password') New Password (minimum 8 characters):
            input.usa-input(id='password' name='password' type='password' required='required' placeholder='*****' minlength='8')
            input.usa-button(type='submit' value='Reset Password')
        

        p
            | If you still have trouble logging in, you can submit an issue report
            | on our 
            a(href='https://github.com/jakerella/usgov-regs/issues') GitHub issue tracker
            | . We'll reach out to try to fix the problem.