extends partials/layout.pug


block content

    article.usa-section.grid-container
        h2.font-heading-l.margin-y-0 Request Password Reset Link

        p
            | Can't remember your password? Or maybe you just want to change it?
            | You found the right place! Enter your email address below and we'll
            | send a one-time use link (and token) to reset your password.
        
        p
            | Note that password reset links and tokens are 
            strong only good for 24 hours
            |  so be sure to watch for that email!
        
        p
            | If you still have trouble logging in, you can submit an issue report
            | on our 
            a(href='https://github.com/jakerella/usgov-regs/issues') GitHub issue tracker
            | . We'll reach out to try to fix the problem.
        

        form.usa-form(action='/reset-password' method='post')
            label.usa-label(for='email') Email address:
            input.usa-input(id='email' name='email' type='email' required='required' placeholder='Email')
            input.usa-button(type='submit' value='Request Reset Link')
        