
h1 {
    font-size: 1.4em;
}

#main-content {
    max-width: 80%;
    margin: 2em auto;
}

.docket-meta {
    color: #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .docket-documents .usa-summary-box {
    background-color: #ecf3ec;
    border-color: #498b49;
}

h3.doctype {
    color: #666;
}

.comments .author, .comments .comment-text {
    width: 35%;
}