
.is-hidden {
    display: none;
}

h1 {
    font-size: 1.1em;
}

.header-form {
    display: flex;
    justify-content: right;
    align-items: baseline;
}
.header-form input {
    margin: 0 0.2em;
}

.usa-hero {
    background-image: url('/img/taking_notes.jpg')
}

a.usa-button--outline {
    background-color: #fff;
    text-decoration: none;
}
a.usa-button--outline:visited {
    background-color: #fff;
    text-decoration: none;
    color: #005ea2;
}
a.usa-button--outline:hover {
    background-color: #005ea2;
    color: #fff;
    text-decoration: none;
}
a.usa-button--outline:active {
    background-color: #1a4480;
    color: #fff;
}

.docket-meta {
    color: #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.docket-documents .usa-summary-box {
    background-color: #ecf3ec;
    border-color: #498b49;
}

h3.doctype {
    color: #666;
}

.comments-loaded {
    vertical-align: middle;
    margin-left: 1em;
}

.comments .author, .comments .attachments, .comments .comment-text {
    width: 30%;
}

.comments .usa-tooltip__body {
    display: block;
    bottom: auto;
    opacity: 0;
}
.comments .usa-tooltip__body.is-visible {
    opacity: 1;
}

nav.comment-list ul {
    list-style: none;
    display: flex;
    margin: 0
}
nav.comment-list li {
    margin: 0 1em;
}

.social-link--github {
    background-image:url("/uswds/img/usa-icons/github.svg"), linear-gradient(transparent, transparent);
    background-repeat:no-repeat;
  }